
#dropsearch {
    max-width: var(--w);
    .shinput {
        display: grid;
        grid-template-columns: 1fr 30px;
        padding: 8px 4px 8px 8px;
        color: var(--pcolor);
        border: 1px solid var(--pcolor) !important;
        border-radius: 4px;
        .shsearch {
            background-image: url(./assets/search.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            border-left: 1px solid var(--pcolor);
            cursor: pointer;
        }
        .clsearch {
            background-image: url(./assets/close.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            border-left: 1px solid var(--pcolor);
            cursor: pointer;
        }
        input {
            outline: none;
            background-color: unset;
            border: unset;
            width: 100%;
            width: -moz-available; /* WebKit-based browsers will ignore this. */
            width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
            width: fill-available;
            padding-right: 8px;
            padding-left: 8px;
            margin-right: 8px;
            margin-left: 8px;
            color: var(--pcolor);
        }
    }
    .shinput:focus-within {
        box-shadow: 0 0 3px 1px var(--pcolor);
    }
}
#dropsh {
    display: none;
    position: absolute;
    z-index: 9999999999;
    width: var(--w);
    transition: opacity 0.4s linear;
    opacity: 0;
    margin-top: 8px;
    border: 1px solid var(--pcolor);
    border-radius: 4px;
    overflow: auto;
    max-height: 200px;
    .item {
        padding: 8px;
    }
    .item:hover {
        cursor: pointer;
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #bcd4da;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--pcolor);
    border-radius: 10px;
}
